body {
    text-align: center;
}
 
#game {
     display: inline-block;
     margin: 0 auto;
    position: relative;
    border: 5px solid black;
 }

 #score {
     position: absolute;
     top: 0;
     left: 0;
     padding: 10px;
     font-family: Arial;
     font-size: 18px;
     font-weight: bold;
 }

@keyframes spin {
    0% {transform:rotate(0deg);transform-origin: center;}
    100% {transform:rotate(360deg);transform-origin: center;}
}

.anim_spin {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes sway {
    0% {transform:rotate(0deg);transform-origin: center;}
    25% {transform:rotate(30deg);transform-origin: center;}
    75% {transform:rotate(-30deg);transform-origin: center;}   
    100% {transform:rotate(0deg);transform-origin: center;}
}

.anim_sway {
    animation-name: sway;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes to_big {
    0% {
        transform:scale(1,1);
        transform-origin: center;
    }
    50% {
        transform:scale(3,3);
        transform-origin: center;
    }
    100% {
        transform:scale(1,1);
          transform-origin: center;
    }
}

.anim_to_big {
    animation-name: to_big;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes to_big_with_transform {
    0% {
        transform:scale(1,1) rotate(0deg);
        -moz-transform-origin: center;
        transform-origin: center;
    }
    50% {
        transform:scale(2,4) rotate(180deg);
        -moz-transform-origin: center;
        transform-origin: center;
    }
    100% {
        transform:scale(1,1) rotate(360deg);
        -moz-transform-origin: center;
        -ms-transform-origin:  center;
        -o-transform-origin: center;
        -webkit-transform-origin:  center;
        transform-origin: center;
    }
}

.anim_to_big_with_transform {
    animation-name: to_big_with_transform;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform:rotateY(0deg);
        transform-origin: center;
    }
    50% {
        transform:rotateY(160deg);
        transform-origin: center;
    }
    100% {
        transform:rotateY(360deg);
        transform-origin: center;
    }
}

.anim_rotate {
    animation-name: rotate;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes tr_spin {
    0% {transform:rotate(0deg);transform-origin: center;}
    100% {transform:rotate(360deg);transform-origin: center;}
}

 .troll_spin {
    animation-name: tr_spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 }
